<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>us-east-1:99306f62-d922-4134-b138-36274723c314</string>
					<key>Region</key>
					<string>USEast1</string>
				</dict>
			</dict>
		</dict>
		<key>IdentityManager</key>
		<dict>
			<key>Default</key>
			<dict/>
		</dict>
		<key>MobileHub</key>
		<dict>
			<key>ProjectClientId</key>
			<string>MobileHub 760da888-54d4-4a96-b3c6-c16cfd30ccd2 aws-my-sample-app-ios-objc-v0.7</string>
		</dict>
		<key>PushManager</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>USEast1</string>
				<key>SNSConfiguredTopics</key>
				<array>
					<string>arn:aws:sns:us-east-1:958928567633:triptrunkdev_alldevices_MOBILEHUB_1812265947</string>
					<string></string>
				</array>
				<key>SNSPlatformApplicationARN</key>
				<string>arn:aws:sns:us-east-1:958928567633:app/APNS/triptrunkdev_MOBILEHUB_1812265947</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TripTrunk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb339286769601593</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>53</string>
	<key>FacebookAppID</key>
	<string>339286769601593</string>
	<key>FacebookDisplayName</key>
	<string>TripTrunk</string>
	<key>GoogleMapsAPIKey</key>
	<string>AIzaSyA8eRGAwhGC8QoDmal-_msQadLJ43ZwCTo</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MaxVideoLength</key>
	<integer>15</integer>
	<key>MinimumUsernameLength</key>
	<integer>2</integer>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>http://gd.geobytes.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>http://getcitydetails.geobytes.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>http://res.cloudinary.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>http://www.triptrunkapp.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your permission to access your location when you upload your photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need your permission to access your Camera Roll so that you can save photo from TripTrunk!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need your permission to access your photos so that you are able to upload to your trunks on TripTrunk!</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-UltraLight.otf</string>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-Hairline.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Regular.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>addTrunk_tabIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Trunk</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Trunk</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>comment_tabIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Activity</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Activity</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>searchGlass_tabIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>mostRecent</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Recent Trunk</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Recent</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Home</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
